.focused {
background: burlywood;
}
.red {
    color: red;
	font-size: 50px;
}
#keyboard{
	text-align: center;
	margin-top: 20px;
}
#sentenceArea{
	font-size: 30px;
	text-align: center;
}
#sentence{
	margin:10px 0 20px 0px;
}
#score-hp{
	margin:0px 30px;
	display: inline;
}
#score{
	color:skyblue;
	font-size: 30px;
	margin-top: 10px;
	display: inline-block;
}
#hp{
	margin-left: 30px;
	display: inline-block;
}
#time{
	color:skyblue;
	font-size: 30px;
	margin-top: 10px;
	margin-left: 30px;
	display: inline-block;
}
#scorechange{
	display: inline;
	color:skyblue;
	font-size: 30px;
	text-align: center;
	float: right;
	width: 100%;
}
#test-div{
	text-align: center;
}
#word0{
	color: green;
}
.yellow{
	color: #EE7752;
	font-style: italic;
	font-size: 40px;
}
#word1{
	color:#8A2BE2;
	font-style: oblique;
	font-size: 40px;
}
#show{
	text-align: center;
	margin:50px auto 0 auto;
	height: 188px;
	width: 250px;
	height: 180px;
	background: lightyellow;
	border-radius: 10px;
	position: relative;

}
#show:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 120px;
	top: 180px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid lightyellow;	
		}
#showHint{
	display: block;
	font-size: 40px;
	margin: 0;
}
#imgdisplay{
	display: block;
	margin: 0;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#header{
	text-align: center;
	margin-top:100px ;
	font-size: 100px;
}
#Press{
	font-size: 30px;
}
#scoreBoard{
	font-size: 30px;
}
.button{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	border-radius: 3px;
	border: 1px solid transparent;
	background-color: rgba(59, 207, 252, 0.3);
	height:50px;
	width:120px;
	font-size: medium;
	font-weight: 600;
	font-style:Arial;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}